In [15]:
import pandas as pd
import regex as re
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

In [16]:
income = pd.read_csv("./datasets/us_county_income.csv").drop("Unnamed: 0", axis = 1)

In [17]:
income.head()

,Rank,County-equivalent,State,Per capitaincome,Medianhouseholdincome,Medianfamilyincome,Population,Number ofhouseholds
0,1,New York County,New York,"$62,498","$69,659","$84,627","1,605,272","736,192"
1,2,Arlington,Virginia,"$62,018","$103,208","$139,244","214,861","94,454"
2,3,Falls Church City,Virginia,"$59,088","$120,000","$152,857","12,731","5,020"
3,4,Marin,California,"$56,791","$90,839","$117,357","254,643","102,912"
4,5,Alexandria City,Virginia,"$54,608","$85,706","$107,511","143,684","65,369"

In [18]:
import addfips ## Going to add 5 digit county fips codes to this data using addfips
from progressbar import ProgressBar

In [19]:
af = addfips.AddFIPS()
af.get_county_fips("Arlington", state = "Virginia") # output of addfips looks like this

'51013'

In [20]:
bar = ProgressBar() ## loop to creat list of fips codes
fips_codes = []
index = 0
for i in bar(range(income.shape[0])):
    af = addfips.AddFIPS()
    fip = af.get_county_fips(county = f"{income['County-equivalent'][index]}",
                             state = f"{income['State'][index]}")
    try:
        fips_codes.append(fip)
    except TypeError:
        fips_codes.append(0)
    index += 1

100% (3203 of 3203) |####################| Elapsed Time: 0:01:47 Time:  0:01:47

In [21]:
income['fips'] = fips_codes # add to dataframe

In [ ]:
income.fips[22] = 11500 # add DC fips by hand

In [39]:
income.head(23)

,Rank,County-equivalent,State,Per capitaincome,Medianhouseholdincome,Medianfamilyincome,Population,Number ofhouseholds,fips
0,1,New York County,New York,62498.0,69659.0,84627.0,"1,605,272","736,192",36061
1,2,Arlington,Virginia,62018.0,103208.0,139244.0,"214,861","94,454",51013
2,3,Falls Church City,Virginia,59088.0,120000.0,152857.0,"12,731","5,020",51610
3,4,Marin,California,56791.0,90839.0,117357.0,"254,643","102,912",06041
4,5,Alexandria City,Virginia,54608.0,85706.0,107511.0,"143,684","65,369",51510
5,6,Pitkin,Colorado,51814.0,72745.0,93981.0,"17,173","7,507",08097
6,7,Los Alamos,New Mexico,51044.0,106686.0,124979.0,"17,979","7,590",35028
7,8,Fairfax County,Virginia,50532.0,110292.0,128596.0,"1,101,071","389,908",51059
8,9,Hunterdon,New Jersey,50349.0,106143.0,125828.0,"127,047","46,816",34019
9,10,Borden,Texas,50042.0,71607.0,76250.0,649,225,48033
10,11,Montgomery,Maryland,49038.0,98221.0,117408.0,"989,474","360,563",24031
11,12,Morris,New Jersey,48814.0,98633.0,117683.0,"495,261","179,665",34027
12,13,Fairfield,Connecticut,48721.0,82283.0,104250.0,"926,233","332,655",09001
13,14,San Francisco,California,48486.0,75604.0,90116.0,"817,501","345,344",06075
14,15,Howard,Maryland,48172.0,109865.0,128657.0,"293,821","106,142",24027
15,16,Westchester,New York,47984.0,81946.0,105341.0,"956,283","343,561",36119
16,17,Somerset,New Jersey,47803.0,99020.0,117393.0,"326,207","115,531",34035
17,18,Nantucket,Massachusetts,47331.0,85478.0,92500.0,"10,224","4,069",25019
18,19,Loudoun,Virginia,46565.0,122238.0,133550.0,"326,477","106,997",51107
19,20,North Slope,Alaska,46457.0,80761.0,82500.0,"9,484","1,990",02185
20,21,San Mateo,California,45732.0,88202.0,105844.0,"729,543","257,941",06081
21,22,Kalawao,Hawaii,45515.0,59375.0,88750.0,71,46,15005
22,23,Washington City,District of Columbia,45290.0,65830.0,79665.0,"619,371","263,649",11500

In [29]:
### the following cells are to appropriately format the columns for export

income["Per capitaincome"] = income["Per capitaincome"].astype(str)
income["Medianfamilyincome"] = income["Medianfamilyincome"].astype(str)
income["Medianhouseholdincome"] = income["Medianhouseholdincome"].astype(str)

In [30]:
income["Per capitaincome"] = [x.replace("$","").replace(",","") for x in income["Per capitaincome"]]
income["Medianfamilyincome"] = [x.replace("$","").replace(",","") for x in income["Medianfamilyincome"]]
income["Medianhouseholdincome"] = [x.replace("$","").replace(",","") for x in income["Medianhouseholdincome"]]

In [40]:
income["Per capitaincome"] = income["Per capitaincome"].astype(float)
income["Medianfamilyincome"] = income["Medianfamilyincome"].astype(float)
income["Medianhouseholdincome"] = income["Medianhouseholdincome"].astype(float)
income["fips"] = income["fips"].astype(str)

In [41]:
income.to_csv("./county_income_final.csv")